.focus_today_section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
}
.focus_time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
