.goal_task_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  min-width: 400px;
  align-items: start;
  gap: 20px;
}
.goal_checkbox {
  opacity: 0;
  min-width: 26px;
  min-height: 26px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border-radius: 20%;
  appearance: none;
  background-color: transparent;
  transition: opacity 0.5s ease;
}
.goal_task_container:hover .goal_checkbox {
  opacity: 1;
}

.goal_checkbox:checked::after {
  opacity: 1;
  content: "✔"; /* Checkmark symbol */
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checked_goal_task {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.8);
}
.goal_text {
  font-size: 30px;
}

.goal_options_btn {
  opacity: 0;
  color: transparent;
  min-width: 22px;
  border-radius: 50%;
  min-height: 22px;
}

.goal_task_container:hover .goal_options_btn {
  opacity: 1;
  color: white;
  background-color: rgb(117, 104, 104, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
