.goal_task_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 400px;
  align-items: center;
  gap: 20px;

  /* font-size: 27px; */
}

.goal_checkbox {
  width: 26px;
  height: 26px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border-radius: 20%;
  appearance: none;
  background-color: transparent;
  transition: all 0.3s ease;
}

.goal_checkbox:checked::after {
  content: "✔"; /* Checkmark symbol */
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goal_text {
  font-size: 30px;
}

.checked_goal_task {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.8);
}

.goal_options_btn {
  color: transparent;
}
.goal_options_btn:hover {
  width: 22px;
  height: 22px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(117, 104, 104);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
