.focus_break_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  cursor: pointer;
}

.focus_btn,
.break_btn {
  padding: 10px;
  opacity: 0.625;
  /* border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); */
}
.focus_btn:hover, /*focus page btns*/
  .break_btn:hover {
  opacity: 1;
  transition: 0.3s;
}
