body {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  /* font-weight: bold; */
}
* {
  box-sizing: border-box;
}
:root {
  --text-xl: 115px;
  --text-m: 32px;
  --text-s: 23px;
  --text-sm: 16px;
  --text-xs: 13px;
}
/* -------Wallpaper styling------ */

.background_img {
  background-image: url("./assets/wallpaper8.jpg");
  background-size: cover;
  background-position: center;
  width: 100w;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
/* -------Header styling------ */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left_header_content,
.right_header_content {
  cursor: pointer;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  /* margin: 7px; */
  padding: 14px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 15px;
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1 rem;
}

.link_section,
.focus_section,
.focus_today_section,
.add_section,
.weather_section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
  /* line-height: 1rem; */
}
.add_section:hover {
  color: white;
  transition: 0.3s;
}
.add_section {
  color: transparent;
}
.focus_time,
.weather_degree_day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

/* -------Footer styling------ */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: var(--text-sm);
  font-weight: 400;
  gap: 16px;
}

.settings_section {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: var(--text-xs);
  text-wrap: unset;
}

/* -------Home styling------ */
/* .text_home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
} */
.text_large {
  font-size: var(--text-xl);
  letter-spacing: -0.3125rem;
  margin: 0;
}

.text_medium {
  font-size: var(--text-m);
  padding-bottom: 25px;
}

.text_small {
  font-size: var(--text-s);
  padding-bottom: 8px;
}

.input_goals {
  display: block;
  text-align: center;
  /* width: 26%; */
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  font-size: var(--text-s);
}
.input_goals:focus {
  outline-width: 0;
}

.home_text {
  width: 100%;
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  position: absolute;
}

/* -------Routine styling------ */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
}

/* -------Focus page styling------ */
.focus_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inside_progressbar_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
