body {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
}

:root {
  --text-xl: 110px;
  --text-m: 30px;
  --text-s: 25px;
  --text-xs: 30px;
}
/* -------Wallpaper styling------ */

.background_img {
  background-image: url("./assets/wallpaper4.jpg");
  background-size: cover;
  background-position: center;
  width: 100w;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
/* -------Header styling------ */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left_header_content,
.right_header_content {
  cursor: pointer;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  /* margin: 7px; */
  padding: 14px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 15px;
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1 rem;
}

.link_section,
.focus_section,
.focus_today_section,
.add_section,
.weather_section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
  /* line-height: 1rem; */
}
.add_section:hover {
  color: white;
  transition: 0.3s;
}
.add_section {
  color: transparent;
}
.focus_time,
.weather_degree_day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

/* -------Footer styling------ */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.settings_section,
.qoutes_section,
.task_section {
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin: 7px;
  padding: 10px;
  font-size: 0.825rem;
  font-weight: 400;
}

.settings_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

/* -------Home styling------ */

.text_large {
  font-size: var(--text-xl);
}
.text_medium {
  font-size: var(--text-m);
  padding: 30px 0px;
}
.text_small {
  font-size: var(--text-s);
}
.input_goals {
  display: block;
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
}
.home_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

/* -------Routine styling------ */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
}
.routine_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.routine_input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.routine_list {
  padding: 4px;
}
.checked_routine {
  text-decoration: line-through;
}
.button_submit .button_delete {
  background-color: transparent;
  padding: 3px;
  margin: 2px;
  border: transparent;
  border-radius: 0px;
}
.button_submit:hover {
  background-color: rgb(239, 241, 241);
}
